<li>@Html.ActionLink("Appointment", "Index", "Appointments")</li>
<li>@Html.ActionLink("Cancel Appointment", "Index", "AppoinntmentCancels")</li>
<li>@Html.ActionLink("Process", "Index", "ProcessMsts")</li>


